.flex_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 30px;
	text-align: center;
}

.flex_container article {
	background-color: black;
	width: 150px;
	min-width: 100px;
	height: 250px;
	flex: 0 1 25%;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 6px;
	position: relative;
	color: white;
}

.flex_container header {
	font-weight: bold;
}

.flex_container img {
	width: 250px;
	height: 150px;
}