.flex {
	display: flex;
	justify-content: baseline;
}

.flex_container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.flex_container article {
	background-color: rgba(255, 255, 255, 0.801);
	width: 70%;
	height: 97%;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 6px;
	position: relative;
}

.flex_container header {
	font-weight: bold;
	text-align: center;
}

.flex_container img {
	width: 50%;
	height: 80%;
	padding: 10px;
}