.flex {
	display: flex;
	justify-content: baseline;
}

.flex_container {
	color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: black;
}

.flex_container article {
	background-color: black;
	width: 70%;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 6px;
	position: relative;
}

.flex_container header {
	font-weight: bold;
	text-align: center;
}

.flex_container img {
	width: 50%;
	height: 80%;
	padding: 10px;
}