.flex_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 40px;
}

.flex_container article {
	display: inline-flex;
	background-color: black;
	width: 90%;
	min-height: 200px;
	padding: 10px 20px;
	margin-top: 30px;
	border-radius: 6px;
	position: relative;
	color: white;
}

.flex_container img {
	width: 25%;
	height: 70%;
}

.flex_container section {
	width: 100%;
	text-align: center;
}

.flex_container header {
	font-weight: bold;
	text-align: center;
}